/**
 * Captcha widget
 *
 * @author Flavius
 * @version 1.2
 */
div.captcha-widget {
}

    div.captcha-widget > div {
        width: 155px;
        height: 48px;
        margin: 0 0 1rem;
        background: #f9f9f9 url('../../img/widgets/captcha-loading.gif') center center no-repeat;
        border: 1px solid #cacaca;
        box-sizing: content-box;
    }

        div.captcha-widget > div > div {
            border: 1px solid #cacaca;
            margin-top: -1px;
            margin-left: -1px;
            overflow: hidden;
            width: 155px !important;
            height: 48px !important;
            box-sizing: content-box;
        }

            div.captcha-widget > div > div > div {
                margin-top: -12px;
                margin-left: -3px;
            }
